
*, *::before, *::after {
    box-sizing: border-box;
  }

 input[type="text"] {
    font-family: inherit; /* 1 */
    font-size: inherit; /* 1 */
    line-height: inherit; /* 1 */
    margin: 0; /* 2 */
    
  }


a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}