/*	body#idx #logo
	{	position:relative;
		left:20px;
		top:15px;
		border: none 0px;
	}

	#select_theme
	{	position:relative;
		margin:0px;
		padding:0px;
		border: 0px none;
		/*top:39px;*/
		top: 134px;
		right: 32px;
	}

	#top_phone
	{	height:85px;
	}
	
	#top_title
	{	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size: 32px;
		color:#F5F5F5;
		text-align:left;
	}*/